<!DOCTYPE html>
<html>
  <head>
    <title>kokinoue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="koki inoue | 井上 航輝" />
    <meta property="og:description" content="Hi, I'm koki inoue (井上 航輝). Software enjineer from Tokyo." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="kokinoue" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="<%= asset_pack_path 'media/packs/assets/icon.gif' %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'partials/google_analytics_tags' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
