<!DOCTYPE html>
<html>
  <head>
    <title>kokinoue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="kokinoue" />
    <meta property="og:description" content="koki inoue" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="kokinoue" />
    <link rel="shortcut icon" type="image/png" href="<%#= asset_pack_path 'assets/icon.png' %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= image_pack_tag 'assets/icon.png' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
